@charset "UTF-8";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  /* position: relative; */
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  height: 100svh;
  /* background-color: #011f3f; */
  background-image: linear-gradient(to bottom, #013a77, #011f3f);
  overflow-y: hidden;
}

#level-title {
  font-size: clamp(1rem, 4vw, 3rem);
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
  padding: 3rem;
}

.btn {
  height: 200px;
  width: 200px;
  margin: 25px;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20%;
}

.start-btn {
  width: 100px;
  height: 80px;
  font-family: inherit;
  font-size: clamp(0.5rem, 1vw, 1rem);
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20%;
  cursor: pointer;
  transition: color 200ms ease-in-out, scale 200ms ease-in-out;
}

.start-btn:hover {
  background-color: aqua;
  box-shadow: 0 0 5px aqua;
  scale: 1.1;
  font-weight: normal;
}

.timer-container {
  border: 1px solid red;
  width: 100%;
  height: 30cqi;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fef2bf;
}

.game-over {
  /* background-color: red; */
  background-image: linear-gradient(to bottom, red, #960202);
  opacity: 0.8;
}

.red {
  background-color: #960202;
  background-image: radial-gradient(#d59a9a, #960202);
}

.green {
  background-color: #008000;
  background-image: radial-gradient(#80c080, #008000);
}

.blue {
  background-color: #0000ff;
  background-image: radial-gradient(#8080ff, #0000ff);
}

.yellow {
  background-color: #e6e600;
  background-image: radial-gradient(#ffffb3, #e6e600);
}

.pressed-red {
  box-shadow: 0 0 20px red;
  border: 10px solid red;
  opacity: 0.5;
}
.pressed-green {
  box-shadow: 0 0 20px green;
  border: 10px solid green;
  opacity: 0.5;
}
.pressed-blue {
  box-shadow: 0 0 20px blue;
  border: 10px solid blue;
  opacity: 0.5;
}
.pressed-yellow {
  box-shadow: 0 0 20px yellow;
  border: 10px solid yellow;
  opacity: 0.5;
}

/* Scoreboard */
.score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  padding: 2rem 0 2rem 8%;
  background-color: rgb(239, 239, 239);
  border: 5px solid black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  animation: all 200ms ease-in-out;
}

.score-board > * {
  width: 90%;
  font-size: clamp(1rem, 3vw, 2rem);
}

.retry-btn {
  font-family: inherit;
  cursor: pointer;
}

/* Leaderboard */
.leader-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 20%;
  padding: 1rem 1rem 3.5rem 1rem;
  background-color: rgb(239, 239, 239);
  border: 5px solid black;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  /* bottom: 0%; */
  bottom: -100%;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
  & h5 {
    margin: 0 auto 1rem;
  }
  & i {
    font-size: 1.8rem;
    width: 20%;
  }
}

.leader-board > * {
  width: 90%;
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: 'Press Start 2P', cursive;
}

#reset-btn {
  position: absolute;
  bottom: 3.5rem;
  right: 1rem;
}

/*  Overlay - Modals */

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  backdrop-filter: blur(10px);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: clamp(1rem, 2vw, 3rem);
  padding: 5%;
  background-color: rgb(239, 239, 239);
  border: 5px solid black;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-20%);
  animation: slide 500ms ease-in-out forwards;
}

.players-num {
  width: 50%;
  height: 30%;
  gap: 10%;
  & label {
    min-width: 100%;
    line-height: 1.5;
  }
  #p-num {
    max-width: 3rem;
    min-height: 2rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
  .p-num-ok-btn {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    max-width: 3rem;
    min-height: 2rem;
  }
}

.players-name {
  max-width: 60%;
  height: 30%;
  gap: 10%;
  & label {
    min-width: 100%;
    line-height: 1.5;
  }
  & div {
    max-width: 90%;
    display: flex;
    align-items: center;
  }
  .p-name {
    max-width: 70%;
    min-height: 1.25rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
  .p-name-ok-btn {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    max-width: 3rem;
    min-height: 2rem;
  }
}

.leader-icon-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: rgb(239, 239, 239);
}

#trophy-btn {
  cursor: pointer;
}

#trophy-btn:hover {
  color: aqua;
  text-shadow: 0 0 5px aqua;
  scale: 1.1;
  font-weight: normal;
}

#close-btn {
  cursor: pointer;
}

.confirm-reset {
  justify-content: space-evenly;
  line-height: 1.5;
  width: 50%;
  height: 30%;
}

.y-n-btn-container button {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  min-height: 2rem;
}

/* Animation */
.glow-title {
  animation: glow 1380ms ease-in-out infinite;
}

.glow-btn {
  animation: glowBtn 1380ms ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 0;
    scale: 1;
  }

  50% {
    text-shadow: 0 0 10px #fef2bf;
    scale: 1.05;
  }
}

@keyframes glowBtn {
  0%,
  100% {
    scale: 1;
  }

  50% {
    scale: 1.05;
    font-weight: bold;
    background-color: aqua;
    box-shadow: 0 0 5px aqua;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

::view-transition-group(root) {
  animation-duration: 300ms;
}

/* Utility classes */
.hidden {
  display: none;
}

@media screen and (width <= 400px) {
  .container {
    width: 90%;
    padding: 3rem 0;
  }
}

@media screen and (width <= 550px) {
  #level-title {
    margin-block: 10%;
  }

  .container {
    width: 90%;
    padding: 3rem 0;
  }

  .btn {
    height: 100px;
    width: 100px;
    margin: 15px;
    border: 5px solid black;
  }

  .start-btn {
    width: 80px;
    height: 60px;
    border: 5px solid black;
  }

  #p-name {
    width: 60%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
}

@media screen and (width > 550px) and (width <= 750px) {
  .btn {
    height: 120px;
    width: 120px;
    margin: 15px;
    border: 5px solid black;
  }

  .start-btn {
    width: 80px;
    height: 60px;
    border: 5px solid black;
  }
}

@media screen and (width > 750px) and (width < 1000px) {
  .btn {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 5px solid black;
  }

  .start-btn {
    width: 80px;
    height: 60px;
    border: 5px solid black;
  }
}
