body {
  text-align: center;
  height: 100svh;
  /* background-color: #011f3f; */
  background-image: linear-gradient(to bottom, #013a77, #011f3f);
  overflow-y: hidden;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  font-size: clamp(1.15rem, 4vw, 3rem);
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
  padding: 3rem;
}

.btn {
  height: 200px;
  width: 200px;
  margin: 25px;
  display: inline-block;
  border: 10px solid black;
  border-radius: 20%;
}

.start-btn {
  width: 100px;
  height: 80px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
  transition: color 200ms ease-in-out, scale 200ms ease-in-out;
}

.start-btn:hover {
  background-color: aqua;
  scale: 1.1;
  font-weight: normal;
}

.game-over {
  /* background-color: red; */
  background-image: linear-gradient(to bottom, red, rgb(150, 2, 2));
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

/* .pressed {
  box-shadow: 0 0 20px white;
  opacity: 0.5;
  scale: 1.05;
} */

.pressed-red {
  box-shadow: 0 0 20px red;
  border: 10px solid red;
  opacity: 0.5;
}
.pressed-green {
  box-shadow: 0 0 20px green;
  border: 10px solid green;
  opacity: 0.5;
}
.pressed-blue {
  box-shadow: 0 0 20px blue;
  border: 10px solid blue;
  opacity: 0.5;
}
.pressed-yellow {
  box-shadow: 0 0 20px yellow;
  border: 10px solid yellow;
  opacity: 0.5;
}

/* Score Board */
.score-board {
  border: 5px solid black;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  background-color: rgb(239, 239, 239);
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  animation: all 200ms ease-in-out;
}

/* Animation */
.glow-title {
  animation: glow 1500ms ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 0;
    scale: 1;
  }

  50% {
    text-shadow: 0 0 10px #fef2bf;
    scale: 1.05;
  }
}

@media screen and (width < 550px) {
  #level-title {
    margin-block: 10%;
  }

  .btn {
    height: 90px;
    width: 90px;
    margin: 15px;
    border: 5px solid black;
  }

  .start-btn {
    width: 80px;
    height: 60px;
    border: 5px solid black;
  }
}

@media screen and (width > 550px) and (width < 750px) {
  .btn {
    height: 100px;
    width: 100px;
    margin: 15px;
    border: 5px solid black;
  }

  .start-btn {
    width: 80px;
    height: 60px;
    border: 5px solid black;
  }
}

@media screen and (width > 750px) and (width < 1000px) {
  .btn {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 5px solid black;
  }

  .start-btn {
    width: 80px;
    height: 60px;
    border: 5px solid black;
  }
}
