@charset "UTF-8";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  height: 100vh;
  height: 100svh;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-image: linear-gradient(-45deg, #011f3f, #014c9c);
  overflow: clip;
}

#level-title {
  font-size: clamp(1rem, 4vw, 3rem);
  margin: 5%;
  color: #fef2bf;
}

section {
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
  --background-simon: linear-gradient(
    45deg,
    #000,
    #0c0c0c,
    #1a1919,
    #3b3b3b,
    #a3a3a3,
    #3b3b3b,
    #1a1919,
    #0c0c0c,
    #000
  );
  /* background-image: var(--background-simon); */
  background-image: linear-gradient(
    127deg,
    #a3a3a3,
    #3b3b3b,
    #1a1919,
    #0c0c0c,
    #000
  );
  width: 30%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 1.5cqw;
  margin: 3rem auto;
  border-inline-start: 0.5cqw solid #a3a3a3;
  border-block-start: 0.5cqw solid #a3a3a3;
  border-radius: 49%;
  box-shadow: 5px 8px 10px #0000004b;
}

.container::before {
  content: '';
  position: absolute;
  width: 23%;
  aspect-ratio: 1/1;
  background-image: radial-gradient(#cecdcd, #696868);
  border-radius: 50%;
  z-index: 1;
}

.container::after {
  content: '';
  position: absolute;
  width: 27%;
  aspect-ratio: 1/1;
  background-image: var(--background-simon);
  /* border: 0.7cqw outset #1a1919; */
  border-inline-start: 0.5cqw solid #696868;
  border-block-start: 0.5cqw solid #696868;
  border-radius: 50%;
}

.btn {
  position: relative;
  width: 87%;
  aspect-ratio: 1/1;
  /* border: 1cqw solid #1a1919; */
}

.start-btn {
  width: 100px;
  height: 80px;
  font-family: inherit;
  font-size: clamp(0.5rem, 1vw, 1rem);
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 5px outset black;
  border-radius: 20%;
  box-shadow: 5px 8px 10px #0000004b;
  cursor: pointer;
  transition: color 200ms ease-in-out, scale 200ms ease-in-out;
}

.start-btn:hover {
  background-color: aqua;
  box-shadow: 0 0 5px aqua;
  scale: 1.1;
  font-weight: normal;
}

.game-over {
  background-image: linear-gradient(to bottom, red, #960202);
  opacity: 0.8;
}

.green {
  background-image: radial-gradient(farthest-side at 60% 60%, #80c080, #008000);
  align-self: flex-end;
  justify-self: end;
  border-inline-start: 0.8cqw solid #80c080;
  border-block-start: 0.8cqw solid #80c080;
  border-radius: 100% 8% 0 8%;
}

.red {
  background-image: radial-gradient(farthest-side at 40% 60%, #d59a9a, #960202);
  align-self: flex-end;
  justify-self: start;
  border-inline-start: 0.8cqw solid #d59a9a;
  border-block-start: 0.8cqw solid #d59a9a;
  border-radius: 8% 100% 8% 0;
}

.yellow {
  background-image: radial-gradient(farthest-side at 60% 40%, #ffffb3, #e6e600);
  align-self: flex-start;
  justify-self: end;
  border-inline-start: 0.8cqw solid #ffffb3;
  border-block-start: 0.8cqw solid #ffffb3;
  border-radius: 8% 0 8% 100%;
}

.blue {
  background-image: radial-gradient(farthest-side at 40% 40%, #8080ff, #0000ff);
  align-self: flex-start;
  justify-self: start;
  border-inline-start: 0.8cqw solid #8080ff;
  border-block-start: 0.8cqw solid #8080ff;
  border-radius: 0 8% 100% 8%;
}

.pressed-green {
  box-shadow: 0 0 20px rgb(4, 253, 4);
  border: 0.8cqw solid green;
  opacity: 0.5;
}

.pressed-red {
  box-shadow: 0 0 20px red;
  border: 0.8cqw solid red;
  opacity: 0.5;
}

.pressed-yellow {
  box-shadow: 0 0 20px yellow;
  border: 0.8cqw solid yellow;
  opacity: 0.5;
}

.pressed-blue {
  box-shadow: 0 0 20px blue;
  border: 0.8cqw solid blue;
  opacity: 0.5;
}

/* Scoreboard */
.score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  padding: 2rem 0 2rem 8%;
  background-color: rgb(239, 239, 239);
  border: 5px solid black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  animation: all 200ms ease-in-out;
  z-index: 2;
}

.score-board > * {
  width: 90%;
  font-size: clamp(1rem, 3vw, 2rem);
}

.retry-btn {
  all: unset;
  padding-block: 5cqi;
  font-family: inherit;
  cursor: pointer;
}

/* Leaderboard */
.leader-icon-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: rgb(239, 239, 239);
}

#trophy-btn {
  cursor: pointer;
}

#trophy-btn:hover {
  color: aqua;
  text-shadow: 0 0 5px aqua;
  scale: 1.1;
  font-weight: normal;
}

.leader-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 20%;
  padding: 1rem 1rem 3.5rem 1rem;
  background-color: rgb(239, 239, 239);
  border: 5px solid black;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
  & h5 {
    margin: 0 auto 1rem;
  }
  & i {
    font-size: 1.8rem;
    width: 20%;
  }
}

.leader-board > * {
  width: 90%;
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: 'Press Start 2P', cursive;
}

#reset-btn {
  position: absolute;
  bottom: 3.5rem;
  right: 1rem;
}

/* Languages */
.lang-container {
  border: 1px solid red;
  position: absolute;
  bottom: 5%;
  left: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 80px;
  a {
    border: 1px solid red;
    width: 45%;
    cursor: pointer;
  }
}

/*  Overlay - Modals */
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: clamp(1rem, 2vw, 3rem);
  padding: 5%;
  background-color: rgb(239, 239, 239);
  border: 5px solid black;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-20%);
  animation: slide 500ms ease-in-out forwards;
  z-index: 2;
}

.players-num {
  width: 50%;
  height: 30%;
  gap: 10%;
  & label {
    min-width: 100%;
    line-height: 1.5;
  }
  #p-num {
    max-width: 3rem;
    min-height: 2rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
  .p-num-ok-btn {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    max-width: 3rem;
    min-height: 2rem;
  }
}

.players-name {
  max-width: 60%;
  /* height: 30%; */
  gap: 10%;
  & label {
    min-width: 100%;
    line-height: 1.5;
  }
  & div {
    max-width: 90%;
    display: flex;
    align-items: center;
    margin-block: 5%;
  }
  .p-name {
    max-width: 70%;
    min-height: 1.25rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
  .p-name-ok-btn {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    max-width: 3rem;
    min-height: 2rem;
  }
}

#close-btn {
  cursor: pointer;
}

.confirm-reset {
  justify-content: space-evenly;
  line-height: 1.5;
  width: 50%;
  height: 30%;
}

.y-n-btn-container button {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  min-height: 2rem;
}

/* Animation */
.glow-title {
  animation: glow 1380ms ease-in-out infinite;
}

.glow-btn {
  animation: glowBtn 1380ms ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 0;
    scale: 1;
  }

  50% {
    text-shadow: 0 0 10px #fef2bf;
    scale: 1.05;
  }
}

@keyframes glowBtn {
  0%,
  100% {
    scale: 1;
  }

  50% {
    scale: 1.05;
    font-weight: bold;
    background-color: aqua;
    box-shadow: 0 0 5px aqua;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Utility classes */
.hidden {
  display: none;
}

/* Medias */
@media screen and (width <= 400px) {
  .container {
    width: 90%;
    aspect-ratio: 1/1;
  }
}

@media screen and (width <= 550px) {
  #level-title {
    margin-block: 10%;
  }

  .container {
    width: 80%;
    aspect-ratio: 1/1;
  }

  .start-btn {
    width: 80px;
    height: 60px;
  }

  #p-name {
    width: 60%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
}

@media screen and (width > 550px) and (width <= 750px) {
  .container {
    width: 60%;
    aspect-ratio: 1/1;
  }

  .start-btn {
    width: 80px;
    height: 60px;
  }
}

@media screen and (width > 750px) and (width < 1000px) {
  .start-btn {
    width: 80px;
    height: 60px;
  }
}
